// Splash Screen or Under construction Screen //

h1 {
  color: $color--white;
  border-top: 1px solid $color--white;
  border-bottom: 1px solid $color--white;
  text-shadow: 2px 2px #0495d5;
}

body {
  background-color: #0091d2;
  background-image: url('data:image/svg+xml,%3Csvg width=\'120\' height=\'120\' viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z\' fill=\'%233acbff\' fill-opacity=\'0.09\' fill-rule=\'evenodd\'/%3E%3C/svg%3E');
}

img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%,-50%);
  opacity: 0.4;
  border: 2px solid #00618c;
  border-radius: 100%;

  @media (max-width: 50em) {
  width: 400px;
  }

  @media (max-width: 37.5em) {
  width: 250px;
  }
}
.splash {
  position: relative;
  z-index: 1;
  height: 100vh;
  text-align: center;


  p {
    > span {
      color: $color--white;
      text-shadow: 2px 2px #0495d5;
    }
    > span:first-child {
      font-family: 'Playfair Display SC', serif;
      display: block;

      @extend .h1;
    }
    > span:nth-child(2n) {
      font-family: 'Cardo', serif;
      line-height: 1.5;
      display: block;

      @extend .h2;
    }
    > span:last-child {
      font-family: 'Playfair Display', serif;
      text-transform: uppercase;

      @extend .h1;
    }
  }
}

.winter {
  font-family: 'Playfair Display SC', serif;
  text-transform: uppercase;
  color: $color--white;
  text-shadow: 2px 2px #0495d5;
}
