////////////
// Mixins //
////////////

// Gradients //
@mixin gradient($color) {
  @if $color == black {
    @include linear-gradient(#8b8d8e, #737475);
  } @else if $color == white {
    @include linear-gradient(#ffffff, #ebebeb);
  } @else if $color == grey--light {
    @include linear-gradient(#f5f5f5, #d7d7d7);
  } @else if $color == grey--dark {
    @include linear-gradient(#e5e5e5, #d3d3d3);
  } @else if $color == blue--dark {
    @include linear-gradient(#507ba6, #3b6692);
  } @else if $color == blue {
    @include linear-gradient(#528ecb, #4a80b7);
  } @else if $color == red {
    @include linear-gradient(#c83544, #ad232e);
  } @else if $color == yellow {
    @include linear-gradient(#ffc049, #dfa22d);
  }
}

// Vertical Align //
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

// Score Callout //
@mixin score-callout() {
  height: 100px;
  border: 1px solid #cfcfcf;
  background: $color--grey--light4;

  .column {
    height: 100%;

    &:not(:last-child) {
      border-right: 1px solid #cfcfcf;
    }
  }
}


// No Select //
@mixin noselect() {
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
  -webkit-touch-callout: none; /* iOS Safari */
   -khtml-user-select: none;    /* Konqueror */
}

// Calculate rem size when base size is 16px
// rem(16px) = 1 rem
@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

/// Remove the unit of a length
// strip-unit($length);
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

// Breakpoints
@mixin mq($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
 }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }
 }
}
